body {
    display: flex;
    flex-wrap: wrap;
    margin: 10;
    border: 3px solid black;
    justify-content: space-around;

}

.Mock3 {
    background: white;
    height: 20px;
    width: 100%;
    border: 2px solid black;

}

.first {
    background: green;
    height: 100px;
    width: 97%;
    margin-top: 20px;
    border: 2px solid black;
}

.second {
    height: 240px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    
}

 .third {
    height: 240px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    
    
}

 .fourth{
    height: 240px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    
    
}

.fifth {
    background: goldenrod;
    height: 240px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    

}

.sixth {
    background: rgb(167, 75, 75);
    height: 240px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    

}

.seventh {
    background: skyblue;
    height: 240px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    


}



